div.formulario .card {
    background-color: #320970a5; 
    margin:20px;
  }

.button-form{
    background-color: #100d51ea; 
      color: white; 
      border: none;
      padding: 5px 18px;
      text-align: center;
      font-size: 16px;
      margin: 0px 8px;
      cursor: pointer;
      border-radius: 10px; 
}

.form-label{
    margin:10px;
    text-align: center;
}